===
--from,--by: 
===
-----
{% if from %}*from:* {{from}} \ 
{% endif -%}
*date:* {{date}}

{%- if no_reply %}

*Hint:* Don't reply to this message directly. If you have any questions, please contact admin@example.com
{%- endif %}
-----
[home] | [quickstart] | [docs] 