===
--lang,-l: en
--date: {{ now }}
{% set file = '-'.join(args) %}
output: {{ file }}.html
relate:
  site.js: {{ file }}.js
  site.css: {{ file }}.css
===
{% set title = ' '.join(args) | title %}

<!-- {{ FILENAME }}  -->
<!DOCTYPE html>
<html lang="{{lang or 'en'}}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

<title>{{title}}</title>
<link rel="stylesheet" href="">
<script src="{{'.js'}}"></script>

</head>
<body>
{% include 'footer.md' %}
</body>
</html>